[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"aiohttp-jinja2" = "*"
aiohttp-utils = "*"
envparse = "*"
invoke = "*"
"iso8601" = "*"

[dev-packages]
aiohttp-devtools = "*"
aioresponses = "*"
"flake8" = "*"
pytest-aiohttp = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
